p{
  padding-top: 50px;
  color: #214b81;
  font-weight: bold;
  font-size: 1.2em;
}
img{
  -webkit-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
}
td{
  vertical-align: middle;
}
.h_about{
  width: 40%;
  font-size: 0.8em;
  color: #0d6efd;
}