p{
  padding-top: 50px;
  color: #214b81;
  font-weight: bold;
  font-size: 1.2em;
}
// img{
//   -webkit-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
//   -moz-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
//   box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
// }
td{
  vertical-align: middle;
}

.random-text {
  color: #434e69;
  font-size: 0.9em;
  margin: 0 10px 0 10px;
  text-align: justify;
}

.map_block {
  background-color: aliceblue;
}

.google-map{
  /*margin: 20px;*/
}

.place{
  border-radius: 5px;
  -webkit-box-shadow: -1px 2px 20px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 2px 20px 3px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 2px 20px 3px rgba(34, 60, 80, 0.2);
}
.header-p{
  text-align: center;
}
.container-home-content{
  max-width: 1280px;
  min-width: 350px;
}
.about_block{
  background-color: #0d6efd26;
}