
td.col-1.mid {
  text-align: center;
  vertical-align: middle;
}
th.col-1.st, td.col-1.st {
  vertical-align: middle;
  padding-left: 0;
}
.col-2.bg-light.bg-gradient.mid{
  text-align: center;
  vertical-align: middle;
}
