
.devise-links{
  margin: 8px;
}

.devise-links {
  .devise-help-links, a{
    color: grey;
  }
  .devise-help-links, a, a:link{
    color: grey;
  }
  .devise-help-links a, a:hover{
    color: black;
  }
}